.App {
    .wrap-container {
        background: #f8f8f8;
        padding: 10px;
        .wrap-item {
            position: absolute;
            background: #f1f1f1;
            padding: 1px;
            cursor: pointer;
            .main-item {
                position: absolute;
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                left: 1px;
                top: 1px;
                background: bisque;
                text-align: center;
                display: flex;
                align-items: center;
                span {
                    width: 100%;
                }
            }
        }
        .wrap-item.moving {
            position: fixed;
            box-shadow: 0 0 15px -3px rgba(0,0,0, .3);
            background: burlywood;
            z-index: 1000;
        }
        .left {
            position: relative;
            background: #f1f1f1;
            min-height: 400px;
            padding: 0;
        }
        .right {
            transition: all .3s ease;
            position: relative;
            background: #f1f1f1;
            min-height: 400px;
            padding: 0;
            .wrap-item {
                background: aquamarine;
                .main-item {
                    background: azure;
                }
            }
        }
        .right.hovering {
            background: #b3f19e;
        }
    }
}